# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Local caches and OS
npm-cache
.cache
Thumbs.db

# Large binaries & local dev artifacts
supabase.exe
supabase.tar.gz
*.tar.gz
*.zip
*.7z

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
